[user]
	name = Josh Kuroda
	email = jkkealii@gmail.com
[color]
	branch = auto
	ui = true
[color "branch"]
	current = green bold blink
	local = white
	remote = white dim
[color "diff"]
	commit = yellow bold
	frag = white blue bold
	meta = white dim
	new = green bold
	old = red bold dim
	whitespace = red reverse
[color "status"]
	added = green bold
	branch = green bold ul
	changed = yellow
	untracked = red dim
[alias]
  aliases = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\ \t => \\2/' | sort | less
  lgo = log --oneline
  br = branch -a
  brv = branch -av
  s = status -sb
  stat = status --show-stash
  d = status -v -v
  c = checkout @{-1}
  addall = !git add --all && git status
  cm = commit -m
  addcm = !git add --all && git commit -m
  fetch = fetch -tpP
	pop = stash pop
	list = stash list
	show = stash show
  unstage = reset HEAD --
  pushnew = push -u origin HEAD
  pushf = push --force

  cpc = !git checkout master && git pull && git checkout @{-1}
  cpcr = !git checkout master && git pull && git checkout @{-1} && git rebase master

  ri = rebase --interactive
  ri2 = rebase --interactive HEAD~2
  ri3 = rebase --interactive HEAD~3
  ri4 = rebase --interactive HEAD~4
  ri5 = rebase --interactive HEAD~5
  rc = rebase --continue
  ra = rebase --abort
  rm = rebase master
  rim = rebase --interactive master

  camm = commit --amend -m
  addam = !git add --all && git commit --amend -m
  addne = !git add --all && git commit --amend --no-edit
  cam = commit --amend
  camne = git commit --amend --no-edit
